/* Estilos generales */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

h1, h2, h3 {
  color: #333;
}

a {
  color: #333;
  text-decoration: none;
}

/* Estilos del encabezado */
header {
  background-color: #f2f2f2;
  padding: 20px;
}

header h1 {
  margin: 0;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  display: inline;
  margin-right: 10px;
}

/* Estilos de las secciones */
section {
  padding: 50px;
}

#proyectos .proyecto {
  margin-bottom: 20px;
  border: 1px solid #ccc;
  padding: 10px;
}

/* Estilos de los enlaces en el footer */
footer ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

footer ul li {
  display: inline;
  margin-right: 10px;
}
